<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="VideoDownloader.App.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <VideoDownloader.App.Properties.Settings>
            <setting name="RpcUri" serializeAs="String">
                <value>https://app.pluralsight.com/player/functions/rpc</value>
            </setting>
            <setting name="SiteHostName" serializeAs="String">
                <value>app.pluralsight.com</value>
            </setting>
            <setting name="ViewClipUrl" serializeAs="String">
                <value>https://app.pluralsight.com/video/clips/viewclip</value>
            </setting>
            <setting name="ReferrerUrlForDownloading" serializeAs="String">
                <value>http://vid20.pluralsight.com</value>
            </setting>
            <setting name="ClipExtensionMp4" serializeAs="String">
                <value>mp4</value>
            </setting>
            <setting name="ClipExtensionPart" serializeAs="String">
                <value>part</value>
            </setting>
            <setting name="EnglishLocale" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="AllCoursesUrl" serializeAs="String">
                <value>https://app.pluralsight.com/search/proxy?i=1&amp;q1=course&amp;x1=categories&amp;m_Sort=updated_date&amp;count=7100</value>
            </setting>
            <setting name="FirstUrlForLogin" serializeAs="String">
                <value>https://app.pluralsight.com/id/</value>
            </setting>
            <setting name="FileNameForJsonOfCourses" serializeAs="String">
                <value>products.json</value>
            </setting>
            <setting name="CoursesUrlFormat" serializeAs="String">
                <value>https://app.pluralsight.com/library/courses/{0}</value>
            </setting>
        </VideoDownloader.App.Properties.Settings>
    </applicationSettings>
</configuration>